.about {
    height: 300px;
    margin-top: 0;
}


.about-heading {
    font-family: 'Montserrat', sans-serif;
    color: rgb(221, 217, 217);
    text-align: center;
    margin-top: 0;
}

.about-body {
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    margin: 0 auto;
    color: rgb(221, 217, 217);
}
