.cart {
    position: relative;
    border: 1px groove #ccc;
}

.amount {
    padding: 20px 0;
}

.amount span {
    color: whitesmoke;
    padding: 0 10px;
}

.amount .count-btn {
    width: 30px;
    height: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: darkblue;
    font-weight: 800;
    background: rgb(224, 221, 216);
    border-radius: 30px;
}

.amount .count-btn:hover {
    color: white;
    background: grey;
}


/* .quantity {
    padding-top: 20px;
    color: whitesmoke;
} */

.delete {
    position: absolute;
    top: 0;
    right: 5px;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 600;
}

.total {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total a {
    text-decoration: none;
    background: #333;
    color: white;
    padding: 10px 20px;
    letter-spacing: 2px;

}

.total h3 {
    margin-right: 40px;
    color: whitesmoke;
}