* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 200px;
    background-image: url(./img/homebg.jpg);
    background-size: cover;
    background-color:#774d24;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}

